.wrapperhf {
    background-color: #2e3141;
    margin: 6.5em 0;
    position: relative;
}

    /* .wrapperhf:before, .wrapperhf:after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232e3141%3B' /%3E%3C/svg%3E");
    } */

    /* .wrapperhf:before {
        box-shadow: inset 0 -1px 0 0 #2e3141, 0 1px 0 0 #2e3141;
    }

    .wrapperhf:after {
        box-shadow: inset 0 -1px 0 0 #2e3141, 0 1px 0 0 #2e3141;
    } */

    .wrapperhf:before, .wrapperhf:after {
        background-repeat: no-repeat;
        background-size: 100% 90%;
        content: '';
        display: block;
        height: 6.5em;
        position: absolute;
        width: 100%;
    }

    .wrapperhf:before {
        left: 0;
        top: -6.5em;
    }

    .wrapperhf:after {
        -moz-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        transform: scaleY(-1);
        bottom: -6.5em;
        left: 0;
    }

    .wrapperhf.alt:before {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .wrapperhf.alt:after {
        -moz-transform: scaleY(-1) scaleX(-1);
        -webkit-transform: scaleY(-1) scaleX(-1);
        -ms-transform: scaleY(-1) scaleX(-1);
        transform: scaleY(-1) scaleX(-1);
    }

    .wrapperhf .inner {
        padding: 3em 1em 1em 3em ;
        margin: 0 auto;
        width: 55em;
    }
    
        
        .wrapperhf.spotlighthf {
			background-color: #2d3a69;
		}

			/* .wrapperhf.spotlighthf:before, .wrapperhf.spotlighthf:after {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%234c5c96%3B' /%3E%3C/svg%3E");
			} */

			/* .wrapperhf.spotlighthf:before {
				box-shadow: inset 0 -1px 0 0 #4c5c96, 0 1px 0 0 #4c5c96;
			}

			.wrapperhf.spotlighthf:after {
				box-shadow: inset 0 -1px 0 0 #4c5c96, 0 1px 0 0 #4c5c96;
			} */

			.wrapperhf.spotlighthf .inner {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-align-items: center;
				-webkit-align-items: center;
				-ms-align-items: center;
				align-items: center;
				-moz-flex-direction: row;
				-webkit-flex-direction: row;
				-ms-flex-direction: row;
				flex-direction: row;
			}

			.wrapperhf.spotlighthf .image {
				border-radius: 100%;
				margin: 0 3em 2em 0;
				width: 22em;
				overflow: hidden;
				-ms-flex: 1;
			}

				.wrapperhf.spotlighthf .image img {
					border-radius: 100%;
					width: 100%;
				}

			.wrapperhf.spotlighthf .content {
				width: 100%;
				-ms-flex: 2;
			}

			.wrapperhf.spotlighthf:nth-child(2n - 1) .inner {
				-moz-flex-direction: row-reverse;
				-webkit-flex-direction: row-reverse;
				-ms-flex-direction: row-reverse;
				flex-direction: row-reverse;
				text-align: right;
			}

			.wrapperhf.spotlighthf:nth-child(2n - 1) .image {
				margin: 0 0 2em 3em;
			}

			.wrapperhf.spotlighthf.style2 {
				background-color: #324072;
			}

				/* .wrapperhf.spotlighthf.style2:before, .wrapperhf.spotlighthf.style2:after {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2345558d%3B' /%3E%3C/svg%3E");
				} */

				/* .wrapperhf.spotlighthf.style2:before {
					box-shadow: inset 0 -1px 0 0 #458d4b, 0 1px 0 0 #458d4b;
				}

				.wrapperhf.spotlighthf.style2:after {
					box-shadow: inset 0 -1px 0 0 #458d4b, 0 1px 0 0 #458d4b;
				} */

			.wrapperhf.spotlighthf.style3 {
				background-color: #39477c;
			}

				/* .wrapperhf.spotlighthf.style3:before, .wrapperhf.spotlighthf.style3:after {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233f4e85%3B' /%3E%3C/svg%3E");
				} */

				/* .wrapperhf.spotlighthf.style3:before {
					box-shadow: inset 0 -1px 0 0 #80853f, 0 1px 0 0 #80853f;
				}

				.wrapperhf.spotlighthf.style3:after {
					box-shadow: inset 0 -1px 0 0 #80853f, 0 1px 0 0 #80853f;
				} */

